<div id="carouselBanners" class="carousel slide mt-5" data-interval="false" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselBanners" data-slide-to="0" class="active"></li>
    <li data-target="#carouselBanners" data-slide-to="1"></li>
    <li data-target="#carouselBanners" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item carouselDiv active">
      <img class="d-block w-100 carouselPictures" src="carousel/chatwithtraders.jpg" alt="First slide">
    </div>
    <div class="carousel-item carouselDiv">
      <img class="d-block w-100 carouselPictures" src="carousel/thisamericanlife.jpg" alt="Second slide">
    </div>
    <div class="carousel-item carouselDiv">
      <img class="d-block w-100 carouselPictures" src="carousel/fallback.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselBanners" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselBanners" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>