<section>
<div class="toCollapseShow" data-toggle="collapse" data-target="#collapsePopularSeries">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings'>
        <span>Popular Podcast Series<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<div class="collapse show" id="collapsePopularSeries">  
<div class="card-deck">
<div class = "row d-flex flex-row flex-nowrap overflow-auto">
 <% series.forEach((title)=>{ %>
  <div class = "col-xs-1 col-sm-3 col-md-2  ">
    <div class="card cardSize">
      <form class= "artworkDisplay d-flex justify-content-center"      
        <% if(title.artwork_filename) { %>
        style="background-image:url(<%=title.artwork_filename%>)"
        <% } %>
        action ='/'> 
          <img class="card-img-top w-auto">
          <button class= "mx-auto" type='submit'>Play</button>
          <input type='hidden' name="series_id" value="<%=title.id%>"/>
      </form>
      <div class="card-body">
        <h5 class="card-title"><%=title.name%></h5>
        <p class="card-text"><%=title.description%></p>
      </div>
    </div>
  </div>
<% }); %>
</div>
</div>
</section>