<section>
<div class= "toCollapseShow bg-warning" data-toggle="collapse" data-target="#collapsePopularSeries">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings'>
        <span>Popular Podcasts Series<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<div class="collapse show" id="collapsePopularSeries">  
<div class="card-deck">
<div class = "row d-flex flex-row flex-nowrap overflow-auto">
 <% series.forEach((title)=>{ %>
  <div class = "col">
    <div class="card cardSize">
      <form class= "artworkDisplay d-flex justify-content-center"      
        <% if(title.artwork_filename) { %>
        style="background-image:url(<%=title.artwork_filename%>)"
        <% } %>
        action ='/'> 
            <img class="card-img-top w-auto">
          <a href="/series/<%=title.id%>" role="button" class="btn btn-primary mx-auto" type="submit">View</a>
          
      </form>
      <div class="card-body">
        <h5 class="card-title"><%=title.name%></h5>
        <p class="card-text"><%= truncateDescription(title.description)%></p>
      </div>
    </div>
  </div>
<% }); %>
</div>
</div>
</section>
