<%- include('../mainpage/headerAndNav') %>

  <body>
    <video autoplay muted loop id="smallBirdError">
      <source src="birdeating.mp4" type="video/mp4">
    </video>
    <div class ="container d-flex fullPageError justify-content-center align-item-center">    
      <div class="row">
            <div class="col-sm-12 my-auto">
            <div class="container">
             <h5 class="errorText">Sorry, you are not allowed to create or edit this podcast until you Log In.</h5>
              <div class="row">
                <div class="col-sm-12 text-center mt-3">
                  <a href="/" class="btn btn-info doneBtn" role="button">
            Return to Main Page</a>
            <a href="/login" class="btn btn-info doneBtn" role="button">Log In</a>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </body>
  
<%-include('../mainpage/footer') %>

