/** @format */
html {
  overflow-x: hidden;
}

.navTopMargin {
  margin-top: 60px;
}

.navBarBg {
  background-color: rgb(39, 188, 233);
}

.logo {
  width: 50px;
  height: auto;
  border-radius: 40px;
}

.loginDisplay {
  padding-top: 50px;
}

.signupDisplay {
  min-height: 1000px;
}
.submitBtn {
  width: 200px;
  text-align: center;
}
.logoutBtn {
  background: none !important;
  border: none;
}
.sightingContainer {
  background-color: lightyellow;
  margin-bottom: 20px;
}

.pageTitle {
  text-align: center;
  font-size: 30px;
}

.doneBtn {
  margin-bottom: 100px;
}

.required {
  color: red;
}

.table > tbody > tr > td[colspan] {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.table > tbody > tr > td {
  padding: 0.75rem;
  vertical-align: middle;
}

.table > tbody > tr > th {
  padding: 0.75rem;
  vertical-align: middle;
}

.expand-button {
  position: relative;
}
.accordion-toggle .expand-button::after {
  font-family: "FontAwesome";
  position: absolute;
  content: "\f0d8";
  transform: translate(0px, -15px);
  font-size: 20px;
}

.accordion-toggle.collapsed .expand-button::after {
  font-family: "FontAwesome";
  position: absolute;
  content: "\f0d7";
  transform: translate(0px, -15px);
  font-size: 20px;
}

.actionBtns {
  width: 300px;
}

h1 .display {
  padding: 10px;
}

.on-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.viewingList {
  text-align: center;
}

.angleArrows {
  height: 100px;
}

.bg {
  background: rgba(240, 243, 245, 0.687);
}

.commentBox {
  border-top: 1px black;
  border-left: 1px black;
  border-right: 1px black;
}

#leaveComment {
  font-size: 15px;
}

#smallBirdError {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0.9;
}

.fullPageError {
  z-index: 10;
  top: 50%;
  margin-top: 60px;
  min-height: 100vh;
  height: 100vh;
}

#reduceTopMargin {
  margin-top: -7vh;
}

.errorText {
  color: white;
}

.bgBirds {
  background: url("birddrawings.png");
  background-repeat: yes;
}

#mainPageBirdDisplay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0.7;
}

.carouselDiv {
  max-height: 500px;
}

.carouselPicture {
  overflow: hidden;
}

.recommendedPodcasts {
  min-width: 300px;
  min-height: 300px;
}

.cardSize {
  min-height: 400px;
  max-height: 500px;
  width: 300px;
  background-color: transparent;
  border: none;
}

.artworkDisplay {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  width: 300px;
  align-items: center;
  text-align: center;
}

.artworkDisplay > button {
  display: none;
}
.artworkDisplay > a {
  display: none;
}

.artworkDisplay:hover > button {
  display: block;
}

.artworkDisplay:hover > a {
  display: block;
}

.genre {
  padding: 0px;
  margin: 0px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.seriesDescription {
  height: 300px;
}

.epArtwork {
  height: 100px;
  width: 100px;
}

.seriesArtwork {
  max-height: 200px;
  max-width: 200px;
}

.sidebar {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100vh;
}

.sidebarIcon {
  position: relative;
  z-index: 100;
}

.createPodcast {
  position: relative;
  z-index: -3;
}

.iframeDisplay iframe {
  position: fixed;
  bottom: 0;
  left: calc(50% - 300px);
  width: 600px;
}

.spacing {
  padding-bottom: 500px;
}

.episodeDescription {
  font-size: 2rem;
}

.favouriteBtn {
  font-size: 30px;
  color: red;
  font-family: "Font Awesome";
  content: "\f08a";
}

.favouriteBtn:hover {
  color: red;
  font-size: 40px;
  border-style: none;
}

.favouriteBtn:focus,
.favouriteBtn:active {
  color: red;
  font-size: 40px;
  outline: none;
  box-shadow: none;
}

.profilePic {
  height: 40px;
  width: 40px;
}

.commentsDisplay {
  font-size: 15px;
}
