<!-- User profile info display -->
<div class="row w-100 h-100 mb-5 userProfileInfo d-flex flex-row justify-content-center">
    <div class="col-5 col-md-2 mr-5">
      <img class="displayPic rounded-circle" src='/<%=currUserProfilePic%>'>       
    </div>
    <div class="col-7 col-md-2 d-flex flex-column justify-content-around">
      <div class="row mt-3">
        <div class="col text-center">
          <div>User:</div>
          <h1><%=currUsername%></h1>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <form action='/user/<%=currUserId%>/follow?_method=PUT' method='POST'>
            <!-- Check that isFollowing has been defined and the loggedInUser cannot follow himself -->
            <% if (locals.isfollowing !== undefined && loggedInUserId!== currUserId)  { %>
              <% if(isfollowing === true) {%>
            <button class='btn btn-secondary' type="submit">Following</button>
              <% } else { %>
                <button class='btn btn-outline-light' type="submit">Follow</button>
              <% } %>
            <% } %>
          </form>
        </div>
      </div>                                       
    </div>
  </div>